parameters:
    level: 8
    phpVersion: 80400
    paths:
        - src
        - index.php
        - install.php
        - status.php
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Konfigurationsdatei wird erst bei Installation erstellt
        - '#require\(\): Failed opening#'
