<?php
/**
 * Basis-Konfiguration
 */
return [
    'database' => [
        'host' => '',      // Wird während der Installation gesetzt
        'name' => '',
        'user' => '',
        'pass' => ''
    ],
    'security' => [
        'algo' => PASSWORD_ARGON2ID,
        'options' => [
            'memory_cost' => 65536,    // 64MB (minimum für sensitive Daten)
            'time_cost' => 4,          // 4 Iterationen
            'threads' => 2             // 2 Threads
        ]
    ],
    'debug' => false,
    'application' => [
        'domain' => '',    // z.B. 'example.com' oder 'localhost'
        'name' => 'DeSEC Manager',
        'webauthn_enabled' => true,  // wird automatisch auf false gesetzt für ungültige TLDs
        'force_https' => true        // sollte nur in Entwicklung false sein
    ]
];
