{
  "database": {
    "host": "",
    "name": "",
    "user": "",
    "pass": ""
  },
  "security": {
    "algo": "argon2id",
    "options": {
      "memory_cost": 65536,
      "time_cost": 4,
      "threads": 2
    }
  },
  "debug": false,
  "application": {
    "domain": "",
    "name": "DeSEC Manager",
    "webauthn_enabled": true,
    "force_https": true
  }
}
